@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	background-color: #ffffff;
}
.title{
	color: #000000;
}
.text{
	color: #000000;
}
.ayuda{
	padding-right: 120px;
}
.name
{
	color: #0163d3;
}
.swiper-scrollbar-drag {
	background: #727c73;
}

.leaflet-control-attribution {
	display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	border-radius: 0.5rem;
}
