@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	background-color: #f9e6d3;
}
.title{
	color: #000000;
}
.text{
	color: #000000;
}
.ayuda{
	/*padding-right: 462px;*/
	/*margin-top: 40px;*/
 }
.ayuda1{
	/*padding-left: 462px;*/
	/*margin-top: -90px;*/
}
.ayuda2
{
	/*margin-top: -90px;*/
}
.name
{
	color: #f6894b;
}
.border1
{
	border-color:#f6894b;
}
.buttons
{
	background-color: #f6c8a5;
}
.swiper-scrollbar-drag {
	background: #727c73;
}

.leaflet-control-attribution {
	display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	border-radius: 0.5rem;
}
